html {height: 100%}

body {
	min-height: 100%;
	position: relative;
}

#container {
	padding-bottom:30px;
}

#page-name {margin-left:20px; font-weight:400; color:#555}
#logo {margin:0 20px 0 0; font-weight:400}

#logo-spisok {color: #802C59;}
#logo-ctf {
    background-color: #105D88;
    color: white;
    padding: 5px 10px 5px 5px;
}

footer
{
	display: block;
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	height: 20px;
	padding-bottom:10px;
	text-align: center;
}

